---
layout: default
title: Problems
---
<div class="container">
<ol class="breadcrumb">
  <li><a href="/index.html">Home</a></li>
  <li class="active">Problems</li>
</ol>
<div class="pull-left">
	<!-- Split button -->
	<div class="btn-group">
	  <button type="button" class="btn btn-danger">???</button>
	  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
		<li><a href="#allProblems" id="filterProblems-all">All</a></li>
		<li><a href="#solvedProblems" id="filterProblems-solved">Solved</a></li>
		<li><a href="#unSolvedProblems" id="filterProblems-unSolved">Unsolved</a></li>
	  </ul>
	</div>
</div>
<ul class="problemsPaginate pagination pagination-sm"></ul>
<div class="panel panel-default">
	<div class="panel-heading">
		List of questions
	</div>
	<div class="list-group" id="problems">
		{% assign problems = site.categories['problems'] | sort: "id" %}
		{% for problem in problems %}
			<div class="row problem list-group-item" data-problem="{{ problem.problemId }}">
				<div class="col-md-6 col-sm-7">
					<a class="" href="{{ problem.url }}">
						<strong>{{ problem.problemId }} -</strong> {{ problem.title }}
					</a>
				</div>
				<!--<div class="col-md-4 col-sm-3">
				{% if problem.difficulty > 0 %}
					<div class="progress problemDifficulty" data-toggle="tooltip" data-placement="top" title="Difficulty: {{ problem.difficulty }}%">
					  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ problem.difficulty }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ problem.difficulty }}%">
						<span class="sr-only">Difficulty: {{ problem.difficulty }}%</span>
					  </div>
					</div>
				{% endif %}
				</div>
				<div class="col-md-2 col-sm-2">
					<small class="pull-left solved" style="display:none">
						Date: <span class="solvedAt"></span>
					</small>
				</div>-->
			</div>
		{% endfor %}
	</div>
</div>
<ul class="problemsPaginate pagination"></ul>
</div>
